body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.png");
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope Screen */
#envelope-container {
    text-align: center;
    cursor:pointer;
}

@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#envelope{
    width: 200px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

#letter-container{
    display: none;
    position:fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.letter-window{
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 1px;
    padding-top: 180px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#letter-title {
    position: relative;
    top: -36px; /* moves it 50px downward */
    text-align: center;
}
#letter-cat {
    position: relative;
    top: -85px; /* moves cat down 20px */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 30px;
    margin:0;
}

p {
    font-size: 40px;
}

/* Cat */

.cat {
    width: 250px;
    margin: 10px 0;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 180px;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    top: -130px;
}

.no-wrapper{
    position:relative;
}

.btn {
    width: 145px;
    cursor: pointer;
    user-select: none;
}

.yes-btn,
.no-btn {
width: 145px;
height: auto;
display: inline-block;
}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}
/*for yippeee!*/
.yippee {
  font-size: 2rem;
  animation: popBounce 0.6s infinite alternate;
}

@keyframes popBounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.6);
  }
}

/*cat dance*/
.dance {
  animation: danceMove 0.7s infinite;
}


#letter-cat.dance {
  position: relative; /* needed to move with 'top' */
  top: 11px;          /* moves dancing cat downgytu6rfuytfitfirfurdfiytfiytfutrdurfiytfiytfirfdyfyfrtyrfjytrfytytf */
  animation: danceMove 0.7s infinite;
}


@keyframes danceMove {
  0% {
    transform: scale(1) translateY(0) rotate(0deg);
  }
  25% {
    transform: scale(1.2) translateY(-5px) rotate(-5deg);
  }
  50% {
    transform: scale(1.4) translateY(-10px) rotate(5deg); /* bigger */
  }
  75% {
    transform: scale(1.2) translateY(-5px) rotate(-5deg);
  }
  100% {
    transform: scale(1) translateY(0) rotate(0deg);
  }
}

.final-text {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.5);
    border-radius: 12px;

    margin-top: 73px; /* pulls it up */
}

